[project]
name = ""
version = ""
description = ""
authors = [
    {name = "Nick Gabry", email = "n.t.gabry@gmail.com"},
]
dependencies = [
    "pandas>=1.4.3",
]
requires-python = ">=3.9"
license = {text = "MIT"}

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool]
[tool.pdm]
[tool.pdm.dev-dependencies]
dev = [
    "pytest==6.2",
    "pytest-cov==2.12",
    "black==22.3.0"
]

[tool.pdm.scripts]
test = "python -m pytest --cov-report term-missing --cov=src --log-level=INFO tests/"
process = "python -m src"
lint = "black --check tests/ src/"
lint-fix = "black tests/ src/"